@media only screen and (min-width: 300px) {
    img {
        width: 500px;
        height: 460px;
        margin-right: auto;
        margin-left: auto;
        vertical-align:middle;
        display: block;
    }
}

@media only screen and (min-width: 600px) {
    img {
        width: 900px;
        height: 1400px;
        margin-right: auto;
        margin-left: auto;
        vertical-align:middle;
        display: block;
    }
}

.imagen_logo {
    background-color: black;
    width: 100%;
}

h1 {
    text-align: center;
    background-color: white;
}

